@* 
    Copyright © 2022-Present The Synapse Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*@
@namespace Synapse.Dashboard
@using Neuroglia.Serialization
@using System.Linq.Expressions
@using System.Diagnostics.CodeAnalysis
@inherits InputBase<DynamicObject>
@inject IMonacoEditorHelper MonacoEditorHelper
@inject IJsonSerializer Serializer

@if (!string.IsNullOrWhiteSpace(Label))
{
    <label for="@Id" class="form-label">@Label</label>
}
<MonacoEditor
    @ref="editor"
    Id="@Id"
    CssClass="@ComputedCssClass"
    ConstructionOptions='MonacoEditorHelper.GetStandaloneEditorConstructionOptions("{}")'
    OnDidInit="OnEditorInit"
    OnDidChangeModelContent="OnEditorChange"/>
<ValidationMessage For="@ValidationFor" class="form-text" />

@code {

    [Parameter, EditorRequired] 
    public Expression<Func<DynamicObject>> ValidationFor { get; set; } = default!;
    [Parameter] public string? Id { get; set; }
    [Parameter] public string? Label { get; set; }

    protected string ComputedCssClass => "monaco-small " + this.CssClass;
    protected MonacoEditor editor = null!;
    protected DynamicObject lastParsed = null!;

    protected override bool TryParseValueFromString(string? value, [MaybeNullWhen(false)] out DynamicObject result, [NotNullWhen(false)] out string? validationErrorMessage)
    {
        if (this.editor == null)
        {
            result = this.Serializer.Deserialize<DynamicObject>("{}");
            this.lastParsed = result;
            validationErrorMessage = "Editor isn't initialized";
        }
        try
        {
            result = this.Serializer.Deserialize<DynamicObject>(string.IsNullOrWhiteSpace(value) ? "{}" : value);
            this.lastParsed = result;
            validationErrorMessage = "";
        }
        catch(Exception ex)
        {
            result = this.lastParsed;
            validationErrorMessage = "Enabled to parse JSON";
        }
        return true;
    }

    protected override string? FormatValueAsString(DynamicObject? value) => value != null ? this.Serializer.Serialize(value) : "";

    protected async Task OnEditorInit(MonacoEditorBase editorBase)
    {
        string value = "{}";
        if (!string.IsNullOrWhiteSpace(this.CurrentValueAsString))
        {
            value = this.CurrentValueAsString;
        }
        await this.editor.SetValue(value);
    }

    protected async Task OnEditorChange(ModelContentChangedEvent e)
    {
        string value = await this.editor.GetValue();
        if (this.CurrentValueAsString != value) 
        {
            this.CurrentValueAsString = value;
        }
    }

}
