@* 
    Copyright © 2022-Present The Synapse Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*@

@namespace Synapse.Dashboard

<g role="button" class="badge edit-state" transform="translate(@X, @Y)" @onclick="async (MouseEventArgs e) => await OnEditState.InvokeAsync(e)">
    <circle cx="0" cy="0" r="@Radius" />
    <foreignObject  class="edit-state__label"
        x="@LabelXY"
        y="@LabelXY" 
        width="@LabelSize" 
        height="@LabelSize"
    >
        <div style="width: @(LabelSize)px;height: @(LabelSize)px;">
            <small class="oi oi-pencil"></small>
        </div>
    </foreignObject>
</g>

@code {
    [CascadingParameter(Name = "Node")] public INodeViewModel Node { get; set; } = null!;

    [Parameter] public EventCallback<MouseEventArgs> OnEditState { get; set; }
    
    protected virtual string X => ((this.Node.BBox?.Width ?? 0) / 2).ToInvariantString();
    protected virtual string Y { get; set; } = "0";
    protected virtual string Radius { get; set; } = "";
    protected virtual string LabelSize { get; set; } = "";
    protected virtual string LabelXY { get; set; } = "";
    
    protected override void OnInitialized()
    {
        base.OnInitialized();
        double radius = Constants.GraphBagdesRadius;
        double offset = radius * 4;
        this.Radius = radius.ToInvariantString();
        this.LabelSize = (radius * 2).ToInvariantString();
        this.LabelXY = (0 - radius).ToInvariantString();
        this.Y = radius.ToInvariantString();
    }
}
