@* 
    Copyright © 2022-Present The Synapse Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*@

@namespace Synapse.Dashboard
@using Microsoft.OpenApi.Readers
@using Neuroglia.Data.Services
@inject HttpClient HttpClient
@inject ILogger<FunctionEditor> Logger
@inject ISchemaRegistry SchemaRegistry

@if(Function != null)
{
    <table class="table table-striped">
    <tbody>
        <tr>
            <td>Name</td>
            <td><input name="@nameof(Function.Name)" type="text" required placeholder="Function name" class="form-control" value="@Function.Name"
                @onchange="async e => await OnPropertyChanged(nameof(Function.Name), f => f.Name = (string)e.Value!)" /></td>
        </tr>
        <tr>
            <td>Type</td>
            <td>
                <select name="@nameof(Function.Type)" required class="form-control bg-secondary text-white" 
                @onchange="async e => await OnPropertyChanged(nameof( Function.Type), f => { f.Type = EnumHelper.Parse<FunctionType>((string)e.Value!); f.Operation = null!; })">
                    @foreach (FunctionType functionType in Enum.GetValues(typeof(FunctionType)))
                    {
                        var functionTypeStr = @EnumHelper.Stringify(functionType);
                        if(Function.Type == functionType)
                        {
                            <option value="@functionTypeStr" selected>@functionTypeStr</option>
                        }
                        else
                        {
                            <option value="@functionTypeStr">@functionTypeStr</option>
                        }
                    }
                </select>
           </td>
        </tr>
        <tr>
            <td>Operation</td>
            <td>
                <div class="input-group">
                    @{
                        string[] operationComponents = null!;
                        Uri? resourceUri = null;
                        var operationId = string.Empty;
                        if (!string.IsNullOrWhiteSpace(Function.Operation))
                        {
                            operationComponents = Function.Operation.Split('#', StringSplitOptions.RemoveEmptyEntries);
                            resourceUri = new(operationComponents[0]);
                            if(operationComponents.Length == 2)
                                operationId = operationComponents[1];
                        }    
                    }
                    <input name="@nameof(Function.Operation)" type="url" required placeholder="Resource URI (ex: https://petstore.swagger.io/v2/swagger.json)" class="form-control" value="@Function.Operation"
                    @onchange="async e => await OnResourceUriChangedAsync((string)e.Value!)"/>
                    @switch (Function.Type)
                    {
                        case FunctionType.OData:
                            <ODataEntitySetSelector DocumentUri="resourceUri" OperationId="@operationId" OnChange="async operation => await OnOperationChangedAsync(resourceUri, operation)" />
                            break;
                        case FunctionType.Rest:
                            <OpenApiOperationSelector DocumentUri="resourceUri" OperationId="@operationId" OnChange="async operation => await OnOperationChangedAsync(resourceUri, operation)" />
                            break;
                        case FunctionType.Rpc:
                            <GrpcOperationSelector DocumentUri="resourceUri" OperationId="@operationId" OnChange="async operation => await OnOperationChangedAsync(resourceUri, operation)" />
                            break;
                    }
                </div>
            </td>
        </tr>
    </tbody>
</table>
}

@code {

    [Parameter] public FunctionDefinition? Function { get; set; }

    [Parameter] public EventCallback<FunctionDefinition?> OnChange { get; set; }

    protected virtual async Task OnResourceUriChangedAsync(string resourceUri)
    {
        if (this.Function == null)
            return;
        await this.OnPropertyChanged(nameof(Function.Operation), f => f.Operation = resourceUri);
    }

    protected virtual async Task OnOperationChangedAsync(Uri? resourceUri,string operationId)
    {
        await this.OnPropertyChanged(nameof(Function.Operation), f => f.Operation = $"{resourceUri}#{operationId}");
    }

    protected virtual async Task OnPropertyChanged(string property, Action<FunctionDefinition> patch)
    {
        if (this.Function == null)
            return;
        patch(this.Function);
        await this.OnChange.InvokeAsync(this.Function);
        this.StateHasChanged();
    }

}
