@* 
    Copyright © 2022-Present The Synapse Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*@

@namespace Synapse.Dashboard
@using Google.Protobuf.Reflection
@using Neuroglia.Data
@using Neuroglia.Data.Services
@inject ISchemaRegistry SchemaRegistry

<select required class="form-control" 
@onchange="async e => OnServiceChanged((string?)e.Value)">
    @if(string.IsNullOrWhiteSpace(OperationId))
    {
        <option disabled selected value> -- select a service -- </option>
    }
    else
    {
        <option disabled value> -- select a service -- </option>
    }
    @if(schema != null)
    {
        @foreach(var service in schema.Document.Services
            .OrderBy(o => o.Name)
            .ToList())
        {
            if(service.Name == OperationId)
            {
                <option value="@service.Name" selected>@service.Name@(service.Options != null && service.Options.Deprecated ? " [deprecated]" : "")</option>
            }
            else
            {
                <option value="@service.Name">@service.Name@(service.Options != null && service.Options.Deprecated ? " [deprecated]" : "")</option>
            }
        }
    }
</select>
<select required class="form-control" 
@onchange="async e => await OnOperationChangedAsync((string?)e.Value)">
    @if(string.IsNullOrWhiteSpace(OperationId))
    {
        <option disabled selected value> -- select an operation -- </option>
    }
    else
    {
        <option disabled value> -- select an operation -- </option>
    }
    @if(schema != null && service != null)
    {
        @foreach(var method in service.Methods
            .OrderBy(m => m.Name)
            .ToList())
        {
            if(method.Name == OperationId)
            {
                <option value="@method.Name" selected>@method.Name@(method.Options != null && method.Options.Deprecated ? " [deprecated]" : "")</option>
            }
            else
            {
                <option value="@method.Name">@method.Name@(method.Options != null && method.Options.Deprecated ? " [deprecated]" : "")</option>
            }
        }
    }
</select>

@code {

    [Parameter] public Uri? DocumentUri { get; set; }

    [Parameter] public string? ServiceName { get; set; }

    [Parameter] public string? OperationId { get; set; }

    [Parameter] public EventCallback<string?> OnChange { get; set; }

    private ISchemaDescriptor<FileDescriptorProto>? schema;
    private ServiceDescriptorProto? service;

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        if (this.DocumentUri == null)
            return;
        this.schema = await this.SchemaRegistry.GetProtoSchemaAsync(this.DocumentUri);
    }

    protected virtual void OnServiceChanged(string? serviceName)
    {
        if (schema == null)
            return;
        if(string.IsNullOrWhiteSpace(serviceName))
        {
            this.service = null;
            this.ServiceName = null;
            return;
        }
        this.service = this.schema.Document.Services.Single(s => s.Name == serviceName);
        this.ServiceName = this.service.Name;
        this.OperationId = null;
        this.StateHasChanged();
    }

    protected virtual async Task OnOperationChangedAsync(string? operationId)
    {
        if (schema == null || service == null)
            return;
        await this.OnChange.InvokeAsync($"{this.service.Name}#{operationId}");
    }

}
