@* 
    Copyright © 2022-Present The Synapse Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*@

@namespace Synapse.Dashboard
@using Microsoft.Data.OData
@using Neuroglia.Data
@using Neuroglia.Data.Services
@inject ISchemaRegistry SchemaRegistry

<select required class="form-control" 
@onchange="async e => await OnOperationChangedAsync((string?)e.Value)">
    @if(string.IsNullOrWhiteSpace(OperationId))
    {
        <option disabled selected value> -- select an entity set -- </option>
    }
    else
    {
        <option disabled value> -- select an entity set -- </option>
    }
    @if(schema != null)
    {
        @foreach(var collection in schema.Document.Collections.OrderBy(c => c.Name))
        {
            if(collection.Name.Equals(OperationId, StringComparison.InvariantCultureIgnoreCase))
            {
                <option value="@collection.Name" selected title="@collection.Url">@collection.Name</option>
            }
            else
            {
                <option value="@collection.Name" title="@collection.Url">@collection.Name</option>
            }
        }
    }
</select>

@code {

    [Parameter] public Uri? DocumentUri { get; set; }

    [Parameter] public string? OperationId { get; set; }

    [Parameter] public EventCallback<string?> OnChange { get; set; }

    private ISchemaDescriptor<ODataWorkspace>? schema;

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        if (this.DocumentUri == null)
            return;
        this.schema = await this.SchemaRegistry.GetODataSchemaAsync(this.DocumentUri);
    }

    protected virtual async Task OnOperationChangedAsync(string? operation)
    {
        await this.OnChange.InvokeAsync(operation);
    }

}
