@* 
    Copyright © 2022-Present The Synapse Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*@

@namespace Synapse.Dashboard

<select class="form-control @CssClass" disabled="@Disabled" @onchange="OnStateSelectorValueChangedAsync">
    <option disabled="@(Selected == null)" selected value> -- select a secret -- </option>
    @if(Secrets != null)
    {
        @foreach(var secret in Secrets!)
        {
            if(secret == Selected)
            {
                <option value="@secret" selected>@secret</option>
            }
            else
            {
                <option value="@secret">@secret</option>
            }
        }
    }
    @if (AddCreateNewOption)
    {
        <option disabled value>--------------------</option>
        <option value="@CreateNewOptionValue">Create new secret</option>
    }
</select>

@code {

    private string CreateNewOptionValue = "__wfs:create";

    [CascadingParameter] public WorkflowDefinition Workflow { get; set; } = null!;

    [Parameter] public bool Disabled { get; set; } = false;

    [Parameter] public string? CssClass{ get; set; }

    [Parameter] public bool AddCreateNewOption { get; set; } = true;

    [Parameter] public string? Selected { get; set; }

    [Parameter] public List<string>? Secrets { get; set; }

    [Parameter] public EventCallback<string> OnChange { get; set; }

    protected virtual async Task OnStateSelectorValueChangedAsync(ChangeEventArgs e)
    {
        if (e.Value == null)
            return;
        var secret = (string)e.Value!;
        if (secret == CreateNewOptionValue)
        {
            secret = $"undefined-{(this.Workflow.Secrets == null ? 0 : this.Workflow.Secrets.Count + 1)}";
            if (this.Workflow.Secrets == null)
                this.Workflow.Secrets = new();
            this.Workflow.Secrets.Add(secret);
        }
        this.Selected = secret;
        await this.OnChange.InvokeAsync(secret);
    }

}
