@* 
    Copyright © 2022-Present The Synapse Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*@

@namespace Synapse.Dashboard

<select class="form-control @CssClass" disabled="@Disabled" @onchange="OnStateSelectorValueChangedAsync">
    @if(Selected == null)
    {
        <option disabled selected value> -- select a state -- </option>
    }
    else
    {
        <option disabled value> -- select a state -- </option>
    }
    @if(States != null)
    {
        @foreach(var state in States!)
        {
            if(state == Selected)
            {
                <option value="@state.Name" selected>@state.Name</option>
            }
            else
            {
                <option value="@state.Name">@state.Name</option>
            }
        }
    }
    @if (AddCreateNewOption)
    {
        <option disabled value>--------------------</option>
        <option value="@CreateNewOptionValue">Create new state</option>
    }
</select>

@code {

    private string CreateNewOptionValue = "__wfs:create";

    [CascadingParameter] public WorkflowDefinition Workflow { get; set; } = null!;

    [Parameter] public bool Disabled { get; set; } = false;

    [Parameter] public string? CssClass{ get; set; }

    [Parameter] public bool AddCreateNewOption { get; set; } = true;

    [Parameter] public StateDefinition? Selected { get; set; }

    [Parameter] public List<StateDefinition>? States { get; set; }

    [Parameter] public EventCallback<StateDefinition> OnChange { get; set; }

    [Parameter] public ControlFlow ControlFlow { get; set; } = ControlFlow.Default;

    protected virtual async Task OnStateSelectorValueChangedAsync(ChangeEventArgs e)
    {
        if (e.Value == null)
            return;
        var state = Workflow.GetState((string)e.Value!);
        if ((string)e.Value == CreateNewOptionValue)
        {
            state = new OperationStateDefinition() { Name = $"undefined-{this.Workflow.States.Count + 1}", IsEnd = true };
            if (this.ControlFlow == ControlFlow.Compensation)
                state.UsedForCompensation = true;
            this.Workflow.States.Add(state);
        }
        this.Selected = state;
        await this.OnChange.InvokeAsync(state);
    }

}
