﻿@*
    Copyright © 2024-Present The Synapse Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*@

@namespace Synapse.Dashboard.Components
@inject IJsonSerializer JsonSerializer

@if (WorkflowInstance != null)
{
    <div class="workflow-instance-details p-3">
        <h6 class="mt-3">Timings</h6>
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="label">Started at</div>
                @(WorkflowInstance.Status?.StartedAt?.DateTime.FromNow() ?? "-")
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="label">Ended at</div>
                @(WorkflowInstance.Status?.EndedAt?.DateTime.FromNow() ?? "-")
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="label">Duration</div>
                @if (WorkflowInstance.Status?.StartedAt.HasValue == true && WorkflowInstance.Status?.EndedAt.HasValue == true)
                {
                    @WorkflowInstance.Status.EndedAt.Value.Subtract(WorkflowInstance.Status.StartedAt.Value).ToString("hh\\:mm\\:ss\\.fff")
                }
                else
                {
                    @("-")
                }
            </div>
        </div>
        <h6 class="mt-3">Global Data</h6>
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <DocumentDetails Label='Input' Document="@WorkflowInstance.Spec?.Input" />
            </div>
            <div class="col-sm-12 col-md-4">
                <DocumentDetails Label='Context' Reference="@WorkflowInstance.Status?.ContextReference" />
            </div>
            <div class="col-sm-12 col-md-4">
            @if (WorkflowInstance.Status?.Error != null)
            {
                <DocumentDetails Label='Error' Document="@WorkflowInstance.Status?.Error" />
            }
            else
            {
                <DocumentDetails Label='Output' Reference="@WorkflowInstance.Status?.OutputReference" />
            }
            </div>
        </div>
        <h6 class="mt-3">Executed Tasks</h6>
        @if (WorkflowInstance.Status?.Tasks == null || WorkflowInstance.Status.Tasks.Count == 0)
        {
            @("-")
        }
        else
        {
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Started At</th>
                        <th class="text-center">Ended At</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var task in WorkflowInstance.Status.Tasks)
                    {
                        Collapse collapse = null!;
                        bool isOpen = false;
                        <tr @onclick="async _ => { await collapse.ToggleAsync(); isOpen = !isOpen; }" class="cursor-pointer">
                            <td>@task.Name</td>
                            <td class="text-center"><span class="badge rounded-pill badge rounded-pill border @GetTaskStatusClass(task)">@(task.Status ?? TaskInstanceStatus.Pending)</span></td>
                            <td class="text-center">@(task.StartedAt?.DateTime.FromNow() ?? "-")</td>
                            <td class="text-center">@(task.EndedAt?.DateTime.FromNow() ?? "-")</td>
                            <td><Icon Name="@(isOpen ? IconName.CaretUp : IconName.CaretDown)" /></td>
                        </tr>
                        <tr>
                            <td colspan="999">
                                <Collapse @ref="collapse">
                                    <TaskInstanceDetails TaskInstance="task" />
                                </Collapse>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        <h6 class="mt-3">Runs</h6>
        @if (WorkflowInstance.Status?.Runs == null || WorkflowInstance.Status.Runs.Count == 0)
        {
            @("-")
        }
        else
        {
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="text-center">Started At</th>
                        <th class="text-center">Ended At</th>
                        <th class="text-center">Duration</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var run in WorkflowInstance.Status.Runs)
                    {
                        <tr>
                            <td class="text-center">@run.StartedAt.DateTime.FromNow()</td>
                            <td class="text-center">@(run.EndedAt?.DateTime.FromNow() ?? "-")</td>
                            <td class="text-center">@(run.EndedAt.HasValue ? run.EndedAt.Value.Subtract(run.StartedAt).ToString("hh\\:mm\\:ss\\.fff") : "-")</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        <h6 class="mt-3">Correlation</h6>
        @if (WorkflowInstance.Status?.Correlation == null)
        {
            @("-")
        }
        else
        {
            <div class="label">Keys</div>
            @if (WorkflowInstance.Status?.Correlation?.Keys == null || WorkflowInstance.Status.Correlation.Keys.Count == 0)
            {
                @("-")
            }
            else
            {
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">Name</th>
                            <th class="text-center">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var keyValuePair in WorkflowInstance.Status.Correlation.Keys)
                        {
                            <tr>
                                <td class="text-center">@keyValuePair.Key</td>
                                <td class="text-center">@keyValuePair.Value</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            <div class="label">Contexts</div>
            @if (WorkflowInstance.Status?.Correlation?.Contexts == null || WorkflowInstance.Status.Correlation.Contexts.Count == 0)
            {
                @("-")
            }
            else
            {
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">Name</th>
                            <th class="text-center">Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var keyValuePair in WorkflowInstance.Status.Correlation.Contexts)
                        {
                            Collapse collapse = null!;
                            bool isOpen = false;
                            <tr @onclick="async _ => { await collapse.ToggleAsync(); isOpen = !isOpen; }" class="cursor-pointer">
                                <td>@keyValuePair.Key</td>
                                <td class="text-center"><span class="badge rounded-pill badge rounded-pill border @GetCorrelationContextStatusClass(keyValuePair.Value)">@(keyValuePair.Value?.Status ?? CorrelationContextStatus.Inactive)</span></td>
                                <td><Icon Name="@(isOpen ? IconName.CaretUp : IconName.CaretDown)" /></td>
                            </tr>
                            <tr>
                                <td colspan="999">
                                    @if (keyValuePair.Value == null)
                                    {
                                        @("-")
                                    }
                                    else
                                    {
                                        <Collapse @ref="collapse">
                                            <CorrelationContextDetails CorrelationContext="keyValuePair.Value" />
                                        </Collapse>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        }
        <h6 class="mt-3">Logs</h6>
        -
        <pre>
            @JsonSerializer.SerializeToText(WorkflowInstance);
        </pre>
    </div>
}

@code {
    [Parameter] public WorkflowInstance? WorkflowInstance { get; set; }

    string GetTaskStatusClass(TaskInstance task) => task.Status switch
    {
        TaskInstanceStatus.Running => "border-accent text-accent",
        TaskInstanceStatus.Faulted => "border-danger text-danger",
        TaskInstanceStatus.Suspended => "border-icterine text-icterine",
        TaskInstanceStatus.Cancelled => "border-warning text-warning",
        TaskInstanceStatus.Completed => "border-success text-success",
        TaskInstanceStatus.Skipped => "border-cinereous text-cinereous",
        _ => ""
    };

    string GetCorrelationContextStatusClass(CorrelationContext? context) => context?.Status switch
    {
        CorrelationContextStatus.Active => "border-accent text-accent",
        CorrelationContextStatus.Inactive => "border-secondary text-secondary",
        CorrelationContextStatus.Completed => "border-success text-success",
        CorrelationContextStatus.Cancelled => "border-warning text-warning",
        _ => ""
    };
}
