﻿@*
    Copyright © 2024-Present The Synapse Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*@

@namespace Synapse.Dashboard

<div class="d-flex align-items-center justify-content-center position-absolute" style="bottom: @(height)px; left: @(height)px;">
    <svg style="height: @(height * nodeTypes.Count())px">
        @for(int i = 0, c = nodeTypes.Count(); i<c; i++)
        {
            var nodeType = nodeTypes.ElementAt(i);
            <g class="node @(nodeType)-task-node legend" transform="translate(0, @(height * i))">
                <rect class="node-rectangle" x="0" y="0" width="@width" height="@height"></rect>
                <foreignObject x="0" y="0" width="@width" height="@height">
                    <div>
                        @nodeType.ToUpper().Replace("-", "..")
                    </div>
                </foreignObject>
            </g>
        }
    </svg>
</div>

@code {
    int width = 100;
    int height = 25;
    IEnumerable<string> nodeTypes = [
    "call",
    "do",
    "fork",
    "for",
    "listen",
    "run",
    "set",
    "switch",
    "try-catch",
    "try",
    "emit",
    "wait",
    "catch",
    "raise"
    ];
}