@using Microsoft.AspNetCore.SignalR.Client
@using Neuroglia.Data.Flux
@using Neuroglia.Data.Flux.Components
@using System.Reactive.Linq
@using Newtonsoft.Json.Linq
@using Synapse.Integration.Events.Workflows
@inject HubConnection HubConnection
@inject IIntegrationEventStream IntegrationEventStream
@inject IDispatcher Dispatcher;

<FluxStore />
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code
{

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        this.IntegrationEventStream
            .Where(e => e.Type == "io.synapse/v1workflow/created/v1")
            .Subscribe(e =>
            {
                var json = JObject.FromObject(e.Data).ToString();
                var data = e.Data.ToObject<V1WorkflowCreatedIntegrationEvent>();
                this.Dispatcher.Dispatch(new AddV1Workflow(new() { Id = data.AggregateId, CreatedAt = data.CreatedAt.DateTime, LastModified = data.CreatedAt.DateTime, Definition = data.Definition }));
            });
        await this.HubConnection.StartAsync();
    }

}