@namespace Synapse.Dashboard

@if (LabelTemplate != null)
{
    @LabelTemplate
}
else if (!string.IsNullOrWhiteSpace(Node.Label) )
{
    <g class="label">
        <foreignObject x="@x"
                       y="@y"
                       width="@width"
                       height="@height">
            <div class="label-content">@Node.Label</div>
        </foreignObject>
    </g>
}

@code {

    IBoundingBox bbox => Node.BBox!;
    string x => bbox.X.ToInvariantString() ?? string.Empty;
    string y => bbox.Y.ToInvariantString() ?? string.Empty;
    string width => bbox.Width.ToInvariantString() ?? string.Empty;
    string height => bbox.Height.ToInvariantString() ?? Neuroglia.Blazor.Dagre.Constants.LabelHeight.ToInvariantString();

    [CascadingParameter(Name = "Node")] public INodeViewModel Node { get; set; } = null!;
    [CascadingParameter(Name = "LabelTemplate")] public RenderFragment? LabelTemplate { get; set; } = null!;

}